<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="card" id="card">
        <div class="toolbar">
            <input type="checkbox" id="toggle" checked />
            <label class="button" for="toggle">
                <nav class="nav">
                    <ul>
                        <li><a href="#" data-page="weather">1</a></li>
                        <li><a href="#" data-page="calendar">2</a></li>
                        <li><a href="#" data-page="filler">3</a></li>
                        <li><a href="#" data-page="api_data">4</a></li>
                    </ul>
                </nav>
            </label>
        </div>
        <div id="content-container" class="content-container"></div>
    </div>
</div>
</body>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>
