<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>WeatherApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <div class="card" id="card1">
        <div class="weather-container">
            <div class="weather-image-container">
                <img class="weather-image" id="weather-image" src="/static/images/cold.png" alt="test" style="height: auto">
            </div>
            <div class="weather-data">
                <div class="content" id="data">data placeholder</div>
            </div>
        </div>
    </div>
    <div class="card" id="card2">
        <div class="content"><h2>Card2</h2></div>
    </div>
    <div class="card" id="card3">
        <div class="content"><h2>Card3</h2></div>
    </div>
</div>
</body>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</html>
